<div class="container">
  <div class="gridzzz">
    <% @restaurants.each do |restaurant| %>
      <%= link_to(restaurant_path(restaurant))  do %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title"><%= restaurant.name %></h5>
              <p class="card-text"><%= restaurant.category.capitalize %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
